{% load static %}
<footer class="footer">
  <div class="container" style="display: flex; align-items: center; justify-content: space-between;">
    <div>
      <h3>Created By:<br>Pawan Sharma<br>Ved Prakash Tripathi<br>Naman Tripathi<br>Mayank</h3>
    </div>
    <div>
      <img style="width: 115px; height: 115px;" src="{% static 'images/iet.png' %}" alt="IETLogo">
    </div>
  </div>
  <!-- <a href="{% url 'ml_app:home'%}">Home</a>
    <a href="{% url 'ml_app:about'%}">About</a>
    <a href="#">Github Link</a> -->
</footer>
  